<h1 class="align">Currency Converter</h1>
<p class="align"><select [(ngModel)]="base_value">
  <option *ngFor="let n of base; let i=index;" [value]="n">{{n}}</option>
</select> 
<input type="text" [(ngModel)]="number" placeholder="Enter number to convert">
<select [(ngModel)]="target_value">
  <option *ngFor="let x of base; let i=index;" [value]="x">{{x}}</option>
</select> 
<br>
<br>
<!-- <button (click)="getData()">Get Data</button> -->
<button (click)="getAnswer()">Convert</button>
</p>
<h3 class="align">{{answer}}</h3>
